@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

*{
    margin:0px;
    padding:0px;
    font-family: 'Roboto', sans-serif;
    color: black;
}

header h1{
    
    font-size:1,375em;
}

header nav a{
    
    font-size:1,125em;
    color:#556594;
}

main h2{
    font-size:1,125em;
}

main h3{
    font-size:1em;
}

main p{
    font-size:0,813em;
}

footer h4{
    font-size:0,813em;
}

footer p{
    font-size:0,6em;
}
