@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Code+Pro:wght@200;400&display=swap');

:root{

    --azul: #3459b4;
    --naranja: #ee6026;
    --grisClaro: #e3e3e3;
    --blanco: white;
    --negro: black;
    --fuentePrincipal:'Roboto', sans-serif;
    --fuenteCodigo:'Source Code Pro', monospace;

}

*{
    margin:0rem;
    padding:0rem;
    font-family:var(--fuentePrincipal);
    color: var(--negro);
}

html{
    font-size: 6.25%; /*convierte 1px = 1rem*/
}

header{
    margin-left: 40rem;
    margin-bottom: 25rem;
}

header h1{
    
    display: inline;
    font-size:38rem;
    text-decoration: underline;
    -webkit-text-decoration-color: var(--naranja);
    text-decoration-color: var(--naranja);
    margin-left: -80rem;
}

header .logo{
    width: 60rem;
    height: 60rem;
    margin-top: 48rem;
    margin-bottom: 80rem;
    /*margin-left: 10rem;*/
}

.navegacionPrincipal{
    float: right;
    margin-top: 18rem;
    box-shadow: 10px 10px 14px 2px

}

.navegacionPrincipal a{
    background-color: var(--blanco);
    color:var(--naranja);
    border-radius: 8rem;
    font-size:28rem;
    text-decoration: none;
    float: left;
    padding: 8rem;
    margin-top: 50rem;
    margin-right:5rem;
}

.navegacionPrincipal a:hover{
    color:var(--blanco);
    background-color: var(--naranja);
    transition: 0.7s;


}

.navegacionPrincipal{
    float: right;
    margin-top: 18rem;
}

.navegacionEntradas a{
    display: block;
    background-color: var(--blanco);
    color:var(--azul);
    border-radius: 8rem;
    font-size:28rem;
    text-decoration: none;
    float: left;
    padding: 8rem;
    margin-top: 50rem;
    margin-right:5rem;

    
}

.navegacionEntradas a:hover{
    color:var(--blanco);
    background-color: var(--azul);
    transition: 0.7s;

}

.navegacionEntradas blockquote{
    clear: both;
}

main h2, main form legend{
    font-size:28rem;
}

main h3, main form label, main aside a{
    font-size:18rem;
}

main p, h4, main pre, main aside blockquote{
    font-size:14rem;
}

main pre, main figcaption{
    font-size: 13rem;
}

body p{
    margin-top: 15rem;
    margin-bottom: 30rem;
}

a{
    color: var(--naranja);
}

.areaHero{
    background-image: url("../img/web.png");
    background-repeat: no-repeat;
    background-position:center center;
    background-size:cover;
    height: 600rem;
    
}

.areaHero .heroTexto{
    margin: 20rem;
    padding: 20rem;
}

.heroTexto section{
    margin: 50rem 40rem;    
}

.heroTexto aside{
    margin: 280rem 40rem 20rem 10rem;
}

.areaHero .heroTexto aside a{
    font-weight:bold;
}

.heroTexto h2, .heroTexto h3, .heroTexto p{
    color: var(--blanco);
}

.navegacionEntradas a, .navegacionEntradas blockquote{
    display: block;
    margin-top: 20rem;
    margin-bottom: 10rem;
    margin-left: 10rem;

}

main pre{
    font-family:'Source Code Pro', monospace;
}

main table{
    margin-top:20rem;
    width: 100%;
    height: 100%;   
    caption-side: bottom;
    font-size: 25rem;
    position: relative;
    border-collapse: collapse;
    border: 1px solid var(--negro);
    text-align: center;
}

main table tr:first-child, main table tr:first-child th, main table caption{
    color: var(--negro);
    background-color: var(--grisClaro);
    border: 1rem solid var(--negro);    
}

main table tr:nth-child(even), main table tr:nth-child(even) td{
    color: var(--blanco);
    background-color: var(--naranja);
    border: 1rem solid var(--azul);    

}

main table tr:nth-child(odd), main table tr:nth-child(odd) td{
    color: var(--blanco);
    background-color: var(--azul);
    border: 1rem solid var(--naranja);    

}

main section h2{
    clear: both;
    color:var(--azul);
    text-decoration: none;
    margin: 50rem 15rem 15rem;
}

main article{
    margin-left: 40rem;
    margin-right: 40rem;
    text-align: justify;

}

main .bloqueForm{
    background-color: var(--grisClaro);
    max-width: 820rem;
    margin: 0 auto;
    margin-top: 20rem;
    border-radius: 10rem;

}

main form{
    padding: 30rem;
    margin: 0 auto;
    max-width: 600rem;
    text-align: center;
}

main form legend{
    margin-bottom: 20rem;
}

main form input, main form textarea{
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    box-sizing: border-box; 
    resize: none; 
}

main form .enviar{
    display: block;
	padding: 10px 45px 10px 45px;
    border: 0;
}

main form fieldset{
    border: 0px;
}

main form input, main form textarea{
    margin  : 10rem;    
}

main form textarea{
    height: 250rem;
}

main form .enviar{
    margin-top: 20rem;
    display: inline-block;
}

footer{
    background-color: var(--grisClaro);
}

footer p{
    font-size:10rem;
}

footer #whatsapp{
    float: right;
}
