@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Code+Pro:wght@200;400&display=swap');

*{
    margin:0px;
    padding:0px;
    font-family: 'Roboto', sans-serif;
    color: black;
}

html{
    font-size: 6.25%; /*convierte 1px = 1rem*/
}

header h1{
    
    font-size:38rem;
}

.navegacionPrincipal a{
    
    font-size:28rem;
    color:#556594;
}

main h2, main form legend{
    font-size:28rem;
}

main h3, main form label, main aside a{
    font-size:18rem;
}

main p, h4, main pre, main aside blockquote{
    font-size:14rem;
}

main pre, main figcaption{
    font-size: 13rem;
}

main pre{
    font-family:'Source Code Pro', monospace;
}

footer{
    background-color: #e3e3e3;
}

footer p{
    font-size:10rem;
}
