@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Code+Pro:wght@200;400&display=swap');

:root{

    --azul: #3459b4;
    --naranja: #ee6026;
    --grisClaro: #e3e3e3;
    --blanco: white;
    --negro: black;
    --fuentePrincipal:'Roboto', sans-serif;
    --fuenteCodigo:'Source Code Pro', monospace;

}

*{
    margin:0px;
    padding:0px;
    font-family:var(--fuentePrincipal);
    color: var(--negro);
}

html{
    font-size: 6.25%; /*convierte 1px = 1rem*/
}

header h1{
    
    display: inline;
    font-size:38rem;
    text-decoration: underline;
    -webkit-text-decoration-color: var(--naranja);
            text-decoration-color: var(--naranja);
    margin-left: 8rem;
}

.logo{
    display: inline;
    width: 80rem;
    height: 80rem;
    margin-top: 50rem;
    margin-bottom: 50rem;
    margin-left: -130rem;


}

.navegacionPrincipal{
    float: right;
}

.navegacionPrincipal a{
    background-color: var(--blanco);
    color:var(--naranja);
    border-radius: 8rem;
    font-size:28rem;
    text-decoration: none;
    float: left;
    padding: 8rem;
    margin-top: 50rem;
    margin-right:5rem;
    
}

.navegacionPrincipal a:hover{
    color:var(--blanco);
    background-color: var(--naranja);

}


.navegacionEntradas a, section h2{
    color:var(--azul);
    text-decoration: none;

}

main h2, main form legend{
    font-size:28rem;
}

main h3, main form label, main aside a{
    font-size:18rem;
}

main p, h4, main pre, main aside blockquote{
    font-size:14rem;
}

main pre, main figcaption{
    font-size: 13rem;
}

a{
    color: var(--naranja);
}

.areaHero{
    background-image: url("../img/web.png");
    background-repeat: no-repeat;
    background-position:center center;
    background-size:cover;
    height: 600rem;
    
}

.areaHero .heroTexto{
    margin: 20rem;
    padding: 20rem;
}

.heroTexto section{
    margin: 50rem 40rem;    
}

.heroTexto aside{
    margin: 380rem 40rem 20rem 10rem;
}

.areaHero .heroTexto aside a{
    font-weight:bold;
}

.heroTexto h2, .heroTexto h3, .heroTexto p{
    color: var(--blanco);
}

main pre{
    font-family:'Source Code Pro', monospace;
}

footer{
    background-color: var(--grisClaro);
}

footer p{
    font-size:10rem;
}
