@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

*{
    margin:0px;
    padding:0px;
    font-family: 'Roboto', sans-serif;
    font-size:0,813em;
}

h1{
    font-size:1,375em;
}

h2{
    font-size:1,125em;
}

h3{
    font-size:1em;
}
